__pycache__/
*.py[cod]
*$py.class
*.so
dist/
Thumbs.db
htmlcov/
.tox/
build/
.env
develop-eggs/
.venv/
*~
.mypy_cache/
*.swp
.eggs/
.DS_Store
*.egg
.pytest_cache/
.ruff_cache/
*.egg-info/
.cache/
env/
